<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HPP</title>
</head>
<body>
    <form method="POST">
        <input name="munis" type="text">

        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>
