<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HPP - About</title>

    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Housing Production Plan Data Tool</h1>
    <img src="">
    <h3>Process</h3>
        <p>MAPC worked with communities to develop Housing Production Plans (HPPs) that guide the
type, amount, and location of new development. This tools has been designed to improve MAPC's internal process in delivering on that work. It automates the data aggression and collection process required in developing HPP’s</p>

    <h3>Goal</h3>
        <p>To help reduce the time and effort spent in the HPP production process. The Data Library’s
goal is automate major portions of the data extraction and transformation process required
to produce an HPP.</p>

    <h3>Location</h3>
        <p>Currently Data Library tool is located <a href="https://hpp.mapc.org/">HPP.MAPC.ORG</a>.</p>

    <h3>How It Works</h3>
        <p>The tool fetches requested data for municipalities form datasets used in the HPP process.The data is pulled from DataCommon through PrQL (SQL) requests of the database and exported
into formatted spreadsheets for analysts to use.</p>

    <h3>How To Use</h3>
        <p>Make selections by clicking on locations and the tables you want to export to a spreadsheet.
You can also use the keyboard commands Crlt - Shift and Crlt - Click to make selections.</p>

    <h3>Other Features</h3>
        <p>We are tracking future feature request. This includes adding data like housing projections and features that standardize the comparison community selection process. Please reach out if there are features you would like to see in the tool.</p>

    <h3>Next Steps</h3>
        <p>We intend to put this tool into action with the upcoming HPPs scheduled for summer 2019. We
will document what we learn and will use that to iteratively improve the HPP process.</p>

    <h3>Get In Touch</h3>
        <p>Technical Questions: Ryan Kelly: <a href="mailto:rkelly@mapc.org">RKelly@mapc.org</a></p>
        <p>Data Questions: Lily Perkins-High: <a href="mailto:lperkinshigh@mapc.org">LPerkinsHigh@mapc.org</a></p>
        <p>Housing Questions: Karina Milchman: <a href="mailto:kmilchman@mapc.org">KMilchman@mapc.org</a></p>
</body>
</html>
