<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HPP</title>

    <style>
        :root {
            --bg-color-primary: aliceblue;
            --bg-color-white: white;
            --box-shadow: #b7d5d5;
            --font-color-primary: #4b6eae;
            --font-color-secondary: darkslategrey;
            --font-color-hover: #addfda;
            --font-family-primary: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            --font-size-large: 40px;
            --font-size-medium: 20px;
        }

        html {
            margin: 0;
            padding: 0;
        }
        
        body {
            color: var(--font-color-primary);
            font-family: var(--font-family-primary);
            margin: 0;
            padding: 0;
            text-align: center;
            width: 100%;
        }

        header {
            align-items: center;
            background-color: var(--bg-color-primary);
            /* border: solid 3px var(--font-color-primary); */
            color: var(--font-color-primary);
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: center;
            padding: 2rem;
        }

        h1 {
            font-size: var(--font-size-large);
            font-weight: normal;
            margin: 0.5rem 0;
        }

        nav {
            display: flex;
            flex-direction: row;
            font-size: var(--font-size-medium);
        }

        a {
            color: var(--font-color-secondary);
            text-decoration: none;
            transition: all ease-in-out 0.2s;
        }

        a:hover {
            color: var(--font-color-hover);
        }

        button.link {
            background-color: var(--bg-color-primary);
            border: solid 3px var(--font-color-primary);
            box-shadow: 0.5rem 0.5rem var(--box-shadow);
            color: var(--font-color-primary);
            font-size: var(--font-size-medium);
            margin: 1rem; 
            padding: 1rem;
            transition: all ease-in-out 0.4s;
            width: 90%;
        }

        button.link:hover {
            background-color: var(--bg-color-white);
            box-shadow: 1rem 1rem var(--box-shadow);
            color: var(--font-color-hover);
            cursor: pointer;
        }

        form {
            height: auto;
            margin: 0 auto;
            text-align: left;
            width: 80%;
        }

        .form-fields {
            display: flex; 
            padding: 2rem;
        }

        .form-field {
            flex: 1 0 27%;    
            flex-direction: column; 
            margin: 0 1%;
        }
        
        .form-field:nth-of-type(1) {
            flex: 1 0 15%; 
        }

        .form-field:nth-of-type(2) {
            flex: 1 0 50%; 
        }

        .form-field:nth-of-type(3) {
            flex: 1 0 15%; 
        }

        .select-wrapper + .select-wrapper {
            margin-top: 1rem;
        }

        .select-wrapper input[data-group] {
            margin-bottom: .5rem; 
        }

        .mod-wrapper + .mod-wrapper {
            margin: 1rem 0;
        }

        small {
            display: block;
            margin-bottom: 10px;
        }

        select[multiple] {
            height: 100%;
            width: 100%;
            min-height: 10rem; 
            overflow: scroll;
            resize: both;
        }

        select[name="munis"] {
            height: 32rem;
            resize: both;
        }

        select[name="format"] {
            margin: 1rem 0;
            width: 100%;
        }

        label {
            display: block;
            font-size: var(--font-size-medium);
            margin-bottom: 2rem; 
        }

        label[for="include_metadata"] {
            margin-top: 2rem;  
        }

        button[type="submit"] {
            background-color: var(--bg-color-primary);
            border: solid 3px var(--font-color-primary);
            box-shadow: 0.5rem 0.5rem var(--box-shadow);
            color: var(--font-color-primary);
            font-size: var(--font-size-medium);
            margin: 4rem auto; 
            padding: 1rem;
            transition: all ease-in-out 0.4s;
            width: 90%;
        }

        button[type="submit"]:hover {
            background-color: var(--bg-color-white);
            box-shadow: 1rem 1rem var(--box-shadow);
            color: var(--font-color-hover);
            cursor: pointer;
        }

    </style>
</head>
<body>
    <header>
        <h1>Housing Production Plan Data Tool</h1>
        <nav>
            <a href="/"><button class="link">Home</button></a>
            <a href="/about"><button class="link">About</button></a>
        </nav>
    </header>
    <form method="POST">
        <div class="form-fields">
            <div class="form-field">
                <label for="munis">Municipalities & Regions</label>
                <small><b>Note:</b> Not all geographies have data in each dataset.</small>
                <select name="munis" multiple>
                    {% for muni in munis %}
                        <option value="{{muni}}" data-deselectable>{{muni}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-field">
                <label for="tables">Tables</label>

                {% for group, tables in table_groups.items() %}
                    <div class='select-wrapper'>
                        <input type="checkbox" data-group="{{group}}">{{group}}</input>
                        <select name="tables" multiple data-group="{{group}}">
                            {% for table in tables %}
                                <option value="{{table.title}}" data-deselectable>
                                    {{table.title}} 

                                    {% if table.source != None %}
                                        ({{table.source}})
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </div>

            <div class='form-field'>
                <label for="format">File Format</label>
                <select name="format">
                    {% for format in formats %}
                        <option value="{{format}}">{{format}}</option>
                    {% endfor %}
                </select>

                <div class="mod-wrapper">
                    <input type="checkbox" name="include_metadata">Include metadata?</input>
                </div>

                <div class="mod-wrapper">
                    <input type="checkbox" name="latest_year">Only latest year?</input>
                </div>

                <button type="submit">Download Data</button>
            </div>
        </div>
    </form>

    <script>
        window.addEventListener('load', function() {
            const groupSelectors = Array.from(document.querySelectorAll('input[data-group]')) ;
            groupSelectors.forEach(function(selector) {
                const group = document.querySelector('select[data-group="' + selector.dataset.group + '"]');
                const tables = Array.from(group.querySelectorAll('option'));

                selector.addEventListener('change', function() {
                    const options = Array.from(group.querySelectorAll('option'));

                    options.forEach(function(option) {
                        option.selected = selector.checked;         
                    }); 
                });

                group.addEventListener('click', function() {
                    selector.checked = false;              
                });

                tables.forEach(function(table) {
                });
            });

            const options = Array.from(document.querySelectorAll('option[data-deselectable]'));
            options.forEach(function(option) {
                 option.addEventListener('mousedown', function() {
                    option.dataset.isSelected = option.selected;//table.selected === 'true';
                });
                option.addEventListener('click', function() {
                    if (option.dataset.isSelected === 'true') {
                        option.selected = false;
                    }
                });
            });
        });
    </script>
</body>
</html>
