<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HPP</title>

    <style>
    </style>
</head>
<body>
    <form method="POST">
        <input name="munis" type="text">

        <button type="submit">SUBMIT</button>
    </form>

    <script>
    </script>
</body>
</html>
