<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HPP</title>

    <style>
    </style>
</head>
<body>
    <form method="POST">
        <select name="munis[]" multiple>
            {% for muni in munis %}
                <option value="{{muni}}">{{muni}}</option>
            {% endfor %}
        </select>

        <select name="tables[]" multiple>
            {% for table in tables %}
                <option value="{{table}}">{{table}}</option>
            {% endfor %}
        </select>

        <select name="format">
            {% for format in formats %}
                <option value="{{format}}">{{format}}</option>
            {% endfor %}
        </select>

        <button type="submit">SUBMIT</button>
    </form>

    <script>
    </script>
</body>
</html>
